body{
    margin: 0%;
    padding: 0%;
    background: fixed;
    }
    header {
      background-color: #333;
      padding: 10px;
      color: #fff;
    }
    nav ul {
      list-style-type: none;
      display: flex;
      gap: 10%;
      margin: 0;
      padding: 0;
    }
    nav ul li {
      display: inline-block;
      margin-right: 10px;
    }
    nav ul li a {
      text-decoration: none;
      color: #fff;
    }
    #sign {
      align-items: center;
      background-color: yellow;
      color: black;
      /* border-radius: 5%; */
      padding:2% 5%;
    }
    #pac{
      color: yellow;
    }
    .Text {
      display: flex;
      align-items: center;
      margin: 7%;
     background-color:rgb(182, 170, 202);
     margin-top: 5%;
    }
    .Text h1{
      font-size: 60px;
    }
    .Text p {
      flex: 1;
    }
    .Text img {
      margin-right: 90%;
      height: 180%;
      width: 205%;
    }
    #explore {
      align-items: center;
      color: black;
      border-radius: 5%;
      padding: 9px;
    }
    .icons {
      display: flex;
      margin-left: 7%;
      gap: 5%;
    }
    .icons > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 20px;
      border: 1px solid #ccc;
    }
    .icons img,
    .icons ion-icon {
      width: 50px;
      height: 50px;
    }
    .icons p {
      margin-top: 10px;
      text-align: center;
    }
    .OUR{
      background-color: lightgrey;
      padding-top: 3%;
    }
    #bt{
      background-color: black;
      color: yellow;
    }
    .offers{
      margin-top: 2%;
    }
    .products{
      display: flex;
      gap: 2%;
      margin-left: 8%;
    }
    .products2{
      display: flex;
      gap: 2%;
      margin-left: 8%;
    }
    .Promax{
      display: flex;
    }
     #head{
      width: 700px;
      height: 450px;
    }
    #head2{
      width: 500px;
      height: 350px;
      padding-top: 14%;
    }
    #cell{
      margin-left: 6%;
      width: 89%;
    }
    .testimony{
      text-align: center;
    }
    .Image{
      display: flex;
      margin-left: 6%;
      gap: 8%;
    }
    .set{
      font-size: 20px;
    }
    #quoote{
      width: 700px;
      height: 400px;
    }
    .foot{
      display: flex;
      gap: 30%;
      padding-left: 5%;
    }
    #email{
      justify-content: right;
      background-color: yellow;
      color: black;
      /* border-radius: 20%; */
      padding:20% 150% ;
    }
    footer {
      display: flex;
      justify-content: space-between;
      background-color: #090909;
      padding: 20px;
      gap: 6%;
      color: white;
    }
    .column {
      flex-basis: 20%;
    }
    h3 {
      font-size: 16px;
      margin-bottom: 10px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li {
      margin-bottom: 5px;
    }
